[submodule "frontend"]
	path = frontend
	url = https://github.com/Prism-Finance/frontend.git
[submodule "docs"]
	path = docs
	url = https://github.com/Prism-Finance/docs.git
[submodule "backend"]
	path = backend
	url = https://github.com/Prism-Finance/backend.git
[submodule "frontend-mobile"]
	path = frontend-mobile
	url = https://github.com/Prism-Finance/frontend-mobile.git
[submodule "frontend-web"]
	path = frontend-web
	url = https://github.com/Prism-Finance/frontend-web
